<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hsnoh.topping">

    <application
        android:allowBackup="true"
        android:icon="@drawable/topping"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MAIN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".word" />
        <activity android:name=".sentence" />
        <activity android:name=".game" />
        <activity android:name=".listening"></activity>
    </application>

</manifest>